# Configuración SMTP para Gmail
# Para obtener una contraseña de aplicación de Gmail:
# 1. Ve a tu cuenta de Google -> Seguridad
# 2. Activa la verificación en 2 pasos
# 3. Busca "Contraseñas de aplicaciones"
# 4. Genera una nueva contraseña para "Correo"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="tu-email@gmail.com"
SMTP_PASS="g5it rixo zcty omv1"
FROM_EMAIL="tu-email@gmail.com"
PORT=3001
FRONTEND_BASE_URL=http://localhost:5173
OTP_EXPIRATION_MINUTES=10

#https://support.google.com/mail/answer/185833?hl=es-419